---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { type CollectionPosts } from '@/types'
import { getPosts } from '@/utils/posts'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
      },
    }
  })
}

type Props = { post: CollectionPosts }

const { post } = Astro.props
const { title, image, description, date, duration, tags } = post.data

const { Content } = await post.render()

function getDate(date: string) {
  return new Date(date).toISOString()
}
---

<BaseLayout title={title} description={description} pageType="article">
  <article class="prose">
    <h1>{title}</h1>
    {description && <p op-70>{description}</p>}
    <p op-70>
      {tags && tags.map((tag: string) => <span class="tag">{tag}</span>)}
    </p>
    {
      image && (
        <p>
          <img width="640" height="360" src={image.src} alt={image.alt || ''} />
        </p>
      )
    }
    <Content />
  </article>
  <style>
    .tag {
      display: inline-block;
      background-color: lightgray; /* light background color */
      border: 1px solid #ccc; /* chip-style border */
      border-radius: 20%; /* rounded corners */
      padding: 0.2em 0.4em; /* padding for the chip look */
      margin-right: 8px; /* space between chips */
      font-size: 14px; /* font size adjustment */
      color: #333; /* text color */
    }
  </style>
</BaseLayout>
